<div class="adedayo-appname-divider adedayo-appname-divider--{{ block.settings.hover_effect }}"
    style="
      --adedayo-appname-divider-color: {{ block.settings.color }};
      --adedayo-appname-divider-width: {{ block.settings.width }}%;
      --adedayo-appname-divider-thickness: {{ block.settings.thickness }}px;
    ">
  </div>
  