{% schema %}
{
  "name": "Padding Block",
  "target" : "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_vertical",
      "label": "Vertical Padding",
      "min": 0,
      "max": 200,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content Text",
      "default": "This is a custom content block with adjustable padding."
    }
  ]
}
{% endschema %}


<div class="adedayo-appname-padding-block" style="padding-top: {{ section.settings.padding_vertical }}px; padding-bottom: {{ section.settings.padding_vertical }}px; text-align: center;">
    <div class="adedayo-appname-padding-block__content">
      <p>{{ section.settings.content }}</p>
    </div>
  </div>
  
