{% schema %}
{
  "name": "Padding Block",
  "target" : "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_vertical",
      "label": "Vertical Padding",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content Text",
    
    }
  ]
}
{% endschema %}

{{ 'padding-block.css' | asset_url | stylesheet_tag }}


<div class="adedayo-appname-padding-block" style="padding-top: {{ block.settings.padding_vertical }}px; padding-bottom: {{ block.settings.padding_vertical }}px; text-align: center;">
    <div class="adedayo-appname-padding-block__content">
      <p>{{ block.settings.content }}</p>
    </div>
  </div>
  
